@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
.footer{
    display: flex;
    flex-direction: column;
    height: auto;
}
.f1{
    margin: 20px;
    height: 50%;
    overflow: hidden;
}

.f2{
    margin: 20px;
    height: 50%;
    padding: 15px;
}
.f1 img{
    margin-top: 10px;
    margin-right: 15px;
    margin-left: -5px;
    height: 20px;
    width: 20px;
}
.tandc{
    font-weight: 700;
    font-size: 20px;
}
.feel{
    font-weight: 600;
}
.f2{
    background-color: black;
    overflow: hidden;
}
.f2 div{
    display: flex;
    height: 50%;
    flex-direction: column;
}
.sit{
    font-family: "Josefin Sans", sans-serif;
    color: #FCC700;
    font-size: 40px;
}
.sitdesc{
    margin-top: 10px;
    color: white;
}
.email{
    border-radius: 30px;
    height: 60px;
    font-size: 15px;
}
.sub{
    position: relative;
    background-color: #FFC700;
    color: black;
    font-weight: 700;
    cursor: pointer;
    top: -62px;
    left: 80%;
    width: 20%;
    border: 3px solid black;
    border-radius: 30px;
    height: 62px;
}
.copyright{
    background-color: #b5b5b5;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
@media (max-width: 600px){
    .footer{
        height: auto;
    }
    .reservation{
        text-align: justify;
        font-size: 13px;
    }
    .f1{
        height: 40%;
    }
    .f2{
        height: 35%;
        margin-top: -10px;
    }
    .sit{
        font-size: 30px;
    }
    .sitdesc{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .email{
        height: 50px;
    }
    .sub{
        width: 35%;
        left: 65%;
        height: 50px;
        top: -51px;
    }
    .copyright{
        font-size: 11px;
        height: 3vh;
    }
}
