* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.information {
  color: white;
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
  align-items: center;
  margin-bottom: 25px;
}
.information1 {
  color: #ffc700;
  font-size: 50px;
  width: fit-content;
  text-align: center;
  margin-right: 25px;
}

.information2 {
  font-size: larger;
  margin-left: 35px;
}

.services {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)),
    url("../images/v33_114.png");
  background-size: cover;
  height: auto;
}

.mainarea {
  margin: auto;
  width: 80%;
  height: auto;
}
.box1 {
  height: 600px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.box2 {
  height: 600px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.box1 .bigarea {
  border-radius: 20px;
  position: relative;
  height: 100%;
  width: 75%;
}

.box1 .smallarea {
  background-color: white;
  opacity: 0.8;
  height: 60%;
  width: 40%;
  position: absolute;
  top: 20%;
  left: 60%;
}

.box2 .bigarea {
  border-radius: 20px;
  position: absolute;
  height: 100%;
  width: 75%;
  right: 0%;
}

.box2 .smallarea {
  background-color: white;
  opacity: 0.8;
  height: 60%;
  width: 40%;
  position: relative;
  top: 20%;
  left: 0%;
}

#b1 .bigarea {
  background: url("../images/v33_118.png") no-repeat center/cover;
}

#b2 .bigarea {
  background: url("../images/gym2.jpg") no-repeat center/cover;
}

#b3 .bigarea {
  background: url("../images/swim.jpg") no-repeat center/cover;
}
#b4 .bigarea {
  background: url("../images/food.jpg") no-repeat center/cover;
}
#b4 {
  margin-bottom: 0;
}

#b1 .bigarea,
#b3 .bigarea {
  border-top: 4px solid #ffc700;
  border-left: 4px solid #ffc700;
  border-bottom: 4px solid #ffc700;
}

#b2 .bigarea,
#b4 .bigarea {
  border-top: 4px solid #ffc700;
  border-right: 4px solid #ffc700;
  border-bottom: 4px solid #ffc700;
}

.smallarea .title {
  color: #ffc700;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 0;
}

.smallarea .part {
  text-align: justify;
  line-height: 35px;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 1025px) {
  .information1 {
    width: fit-content;
  }
  .information2 {
    width: auto;
  }
}
@media (max-width: 800px) {
  .information {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .information2 {
    width: 100%;
    margin: 0%;
  }
  .information1 {
    width: 100%;
    margin: 0%;
  }
  .smallarea .part {
    line-height: 23.5px;
  }
}
@media (max-width: 600px) {
  .box2 .bigarea,
  .box1 .bigarea {
    border: 4px solid #ffc700;
    width: 100%;
  }
  .box1 .smallarea,
  .box2 .smallarea {
    height: 60%;
    width: 60%;
    overflow: hidden;
    top: 20%;
    left: 20%;
  }
  .smallarea .part{
    text-align: center;
  }
}
