<div class="footer">
    <div class="footer-line">
        <section class="footer-top">
            <div class="footer-headline">
                <h2>Sign up to our newsletter</h2>
                <p>
                    Stay up to date with our news and articles.
                </p>
            </div>
            <div class="footer-subscribe">
                <input type="email" placeholder="Your Email">
                <button>
                    Sign Up
                </button>
            </div>
        </section>
        <div class="footer-columns">
            <section class="footer-logo">
                <img src="/Images/logo.webp" alt="not found">
                <h2 class="hide">Hotel Name</h2>
            </section>
            <section class="sec">
                <h3>Product</h3>
                <ul>
                    <li>
                        <a href="#">API</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </section>
            <section class="sec">
                <h3>Resources</h3>
                <ul>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                    <li>
                        <a href="#">Help Center</a>
                    </li>
                    <li>
                        <a href="#">Investor</a>
                    </li>
                </ul>
            </section>
            <section class="sec">
                <h3>Company</h3>
                <ul>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Press</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </section>
            <section class="sec">
                <h3>Company</h3>
                <ul>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Press</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </section>
            <section class="sec">
                <h3>Legal</h3>
                <ul>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Cookies</a>
                    </li>
                    <li>
                        <a href="#">Licences</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <small>© Developed and Maintained by CLUMOSS <span id="year"></span>, All rights reserved</small>
            <span class="social-links">
                <a href=""><img src="/Images/facebook-app-symbol.png" alt=""></a>
                <a href=""><img src="/Images/instagram.png" alt=""></a>
                <a href=""><img src="/Images/twitter.png" alt=""></a>
                <a href=""> <img src="/Images/youtube.png" alt=""></a>
            </span>
        </div>

    </div>
</div>