<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <link rel="stylesheet" href="/CSS/testimonial.css">
    <title>Testimonial</title>
</head>

<body>

    <div class="navbar">
        <div class="logo">
            <img src="/Images/logo.webp" alt="">
        </div>
        <div class="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/hotel/services">Services</a></li>
                <li><a href="/hotel/about">About us</a></li>
                <li><a href="/hotel/contact">Contact us</a></li>
                <li><a href="/hotel/gallery">Gallery</a></li>
                <li><a href="/hotel/testimonial" class="selectedlink">Testimonial</a></li>
            </ul>
        </div>
        <div class="btns">
            <button class="register"><a href="/user/register">Register</a></button>
            <button class="signin"><a href="/user/signin">Sign in</a></button>
        </div>
    </div>
    <div class="resnavbar">
        <div class="reslogo logo">
            <img src="/Images/logo.webp" alt="">
            <img class="ham" onclick="hamburger()" src="/Images/hamburger.png" alt="">
        </div>
        <div class="panel">
            <div class="links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/hotel/services">Services</a></li>
                    <li><a href="/hotel/about">About us</a></li>
                    <li><a href="/hotel/contact">Contact us</a></li>
                    <li><a href="/hotel/gallery">Gallery</a></li>
                    <li><a href="/hotel/testimonial" class="selectedlink">Testimonial</a></li>
                </ul>
            </div>
            <div class="btns">
                <button class="register"><a href="/user/register">Register</a></button>
                <button class="signin"><a href="/user/signin">Sign in</a></button>
            </div>
        </div>
    </div>

    <!-- slider -->
    <div class="slider">
        <div class="comment">Testimonial</div>
        <section>
            <div class="swiper mySwiper container">
                <div class="swiper-wrapper wrapper">

                    <!-- first -->
                    <div class="swiper-slide card">
                        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                            omnis
                            recusandae
                            culpa molestiae repellat fuga.</div>
                        <div class="person">
                            <div class="photo"><img src="/Images/img1.jpg" alt=""></div>
                            <div class="userinfo">
                                <div>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, amet?
                                </div>
                                <p>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="list">
                                <div class="image"><img src="/Images/first.png" alt=""></div>
                                <p class="pera">Large and Clean Bad-Rooms</p>
                            </div>
                        </div>
                    </div>

                    <!-- second -->
                    <div class="swiper-slide card">
                        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                            omnis
                            recusandae
                            culpa molestiae repellat fuga.</div>
                        <div class="person">
                            <div class="photo"><img src="/Images/img2.jpg" alt=""></div>
                            <div class="userinfo">
                                <div>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, amet?
                                </div>
                                <p>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="list">
                                <div class="image"><img src="/Images/sec.png" alt=""></div>
                                <p class="pera">Large and Clean Bad-Rooms</p>
                            </div>
                        </div>
                    </div>

                    <!-- third -->
                    <div class="swiper-slide card">
                        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                            omnis
                            recusandae
                            culpa molestiae repellat fuga.</div>
                        <div class="person">
                            <div class="photo"><img src="/Images/img3.jpg" alt=""></div>
                            <div class="userinfo">
                                <div>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, amet?
                                </div>
                                <p>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="list">
                                <div class="image"><img src="/Images/third.png" alt=""></div>
                                <p class="pera">Large and Clean Bad-Rooms</p>
                            </div>
                        </div>
                    </div>

                    <!-- four -->
                    <div class="swiper-slide card">
                        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                            omnis
                            recusandae
                            culpa molestiae repellat fuga.</div>
                        <div class="person">
                            <div class="photo"><img src="/Images/img4.jpg" alt=""></div>
                            <div class="userinfo">
                                <div>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, amet?
                                </div>
                                <p>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="list">
                                <div class="image"><img src="/Images/eight.png" alt=""></div>
                                <p class="pera">Large and Clean Bad-Rooms</p>
                            </div>
                        </div>
                    </div>

                    <!-- fifth -->
                    <div class="swiper-slide card">
                        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                            omnis
                            recusandae
                            culpa molestiae repellat fuga.</div>
                        <div class="person">
                            <div class="photo"><img src="/Images/img5.jpg" alt=""></div>
                            <div class="userinfo">
                                <div>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, amet?
                                </div>
                                <p>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="list">
                                <div class="image"><img src="/Images/first.png" alt=""></div>
                                <p class="pera">Large and Clean Bad-Rooms</p>
                            </div>
                        </div>
                    </div>

                    <!-- six -->
                    <div class="swiper-slide card">
                        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
                            omnis
                            recusandae
                            culpa molestiae repellat fuga.</div>
                        <div class="person">
                            <div class="photo"><img src="/Images/img6.jpg" alt=""></div>
                            <div class="userinfo">
                                <div>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, amet?
                                </div>
                                <p>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="list">
                                <div class="image"><img src="/Images/six.png" alt=""></div>
                                <p class="pera">Large and Clean Bad-Rooms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>

    <%- include('./Partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="/JS/script.js"></script>
</body>

</html>